footer.footer 
  ul.footer__container 
    li.footer__item
      a(href="/html/not-found.html") Términos de uso
    li.footer__item
      a(href="/html/not-found.html") Declaración de privacidad 
    li.footer__item
      a(href="/html/not-found.html") Centro de ayuda