-var images = [["6678106/pexels-photo-6678106.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", "1"], ["7722958/pexels-photo-7722958.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", "2"], ["7084360/pexels-photo-7084360.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", "3"], ["5191371/pexels-photo-5191371.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", "4"], ["3098976/pexels-photo-3098976.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", "5"], ["2765869/pexels-photo-2765869.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", "6"], ["1151831/pexels-photo-1151831.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", "7"], ["5028848/pexels-photo-5028848.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", "8"], ["3801990/pexels-photo-3801990.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", "9"], ["3773655/pexels-photo-3773655.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500", "10"]] 
-var nums = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]

section.caroussel 
  .caroussel__container
    each image in images
      .caroussel-item 
        img.caroussel-item__img(src="https://images.pexels.com/photos/"+image[0] alt="Imagen "+image[1])
        .caroussel-item__details
          .caroussel-item__details--buttons
            img(src="https://img.icons8.com/ios-glyphs/30/000000/circled-play.png" alt="Reproducir")
            img(src="https://img.icons8.com/ios-glyphs/120/000000/plus.png" alt="Añadir a lista")
          p.caroussel-item__details--title Título descriptivo
          p.caroussel-item__details--subtitle 2019 16+ 114 minutos
        