-var title = 'Platzi Video'
-var style = 'styles'
-var route = "/html/login.html"
-var auth = true

doctype html
html(lang="en")

  include ./components/global/head.pug

  body 
    
    include ./components/index/header.pug

    main
    
      include ./components/index/search.pug

      include ./components/index/caroussel.pug