-var title = 'Register'
-var style = 'login'
-var route = '/'

doctype html
html(lang="en")

  include ./components/global/head.pug

  body 
    
    include ./components/global/header.pug

    main

      include ./components/register/frame.pug

    include  ./components/global/footer.pug