section.blog-contact.grid-container
  .blog-contact-left.blog-contact-box
    img(src="/assets/img/013-newsletter.png", alt="")
    a(href="/") Contacto
    p Lorem, ipsum dolor sit amet consectetur adipisicing elit.
  .blog-contact-right.blog-contact-box
    img(src="/assets/img/006-like.png", alt="")
    a(href="/") Escribe
    p Lorem ipsum dolor sit amet consectetur adipisicing elit.